APP_NAME="Pokemon Stats Tracker"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://pokemonstatstracker.onrender.com

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

POKEMON_API_URL=https://pokeapi.co/api/v2/pokemon/
POKEMON_MAX_ID=1025
POKEMON_API_TIMEOUT=60
POKEMON_API_RETRIES=3
POKEMON_API_RETRY_DELAY=100
